
/********************************************************************
I declare that my assignment is wholly my own work in accordance with Seneca Academic Policy. No part of this assignment has been copied manually or electronically from any other source (including web sites) except for the information supplied by the WEB222 instructors and / or made available in this assignment for my use.
I also declare that no part of this assignment has been distributed to other students.
Name: Zachary Hamilton
Dated: March 15, 2020
********************************************************************/

body {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    justify-items: center;
    
}

#head {
    padding: 14px 16px;
    text-align: center;
    flex-direction: row;
    width: 100vw;
    

}

h1 {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container {
    border-radius: 25px;
    background: rgb(161, 237, 193);
    padding: 2em;
    width: 250px;
    height: 300px;
    margin: 2em;
    align-content: center;
    align-self: center;
}

.picture {
    width: 125px;
    height: 125px;
    border-radius: 25px;
    padding: none;
    display: flex;
    justify-items: center; 
}

.partext {
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
}

.headtext {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding: 0;
}

.container:hover {
    background-color: palegoldenrod;
}

#logo {
    width: 50px;
    height: 50px;
}

#back {
    text-decoration: none;
    align-content: right;
}

.sidenav {
    height: 100%; 
    width: 160px; 
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: rgb(55, 163, 100);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .main {
    margin-left: 160px;
    padding: 30px 30px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    display: block;
  }

  #headimg {
    width: 800px;
    height: 500px;
    border-radius: 25px;
    margin-left: 200px;
    padding: none;
  }

  .text {
      margin-top: 5%;
  }


